body {
   margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

html {
  margin: 0;
}

.outer {
  text-align: center;
}

.page {
  position: relative;
  margin-top: 0;
  max-width: 90%;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.homepagemobile {
  position: relative;
  margin-top: 0;
  max-width: 90%;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.homepagemobile-padding{
	padding: 10px;
}


.homepagemobile-hover:hover {
	transform: scale(1.25,1.25);
}

.tile {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  background-position: center;
}



.parent-container{
	display: flex;
	justify-content: center;
	max-width: 1200px;
	height: 100%;

}

.child-container{
	width:100%;
	padding: 80px 0px 0px 0px;

}

.paddingtop{
	padding: 50px 0px 0px 0px;
}



.row {
  position: relative;
  width: 100%;
	margin: 0;

  
}

.row [class^="col"] {
 	float: left;
 	margin: 0% 0%;
  	min-height: 50px;

}


img {
    max-width: 100%;
    height: auto;
}



.hover:hover img{
	transform:
		scale(1.25,1.25);
}


.col-2 {
    width: 50%;
  }


.col-5 {
    width: 20%;
  }







.topofpage{
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	align-items: center;
	justify-content: flex-start;
	height: 100px;
	background-color: #ffffff;
	color: #53565A;
	margin: 0px;
	padding: 0px;
	
}

.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
	text-align: left;
}

.nav{
	padding: 0px 50px 0px 50px;
	display: inline-block;
	text-align: center;
}

.navright{
	margin-left: auto;
}

.logo_img{
	width:150px;
	align-items: center;
}


.nav a{
  color:#000000;
  font-size:14px;
  text-decoration: none;
}

.nav a:hover {
	border-bottom: 1px solid #141414;
	padding-bottom: 15px;
	
 }

 .nav a:active {
	color: #141414;
	font-weight: bold;
	border-bottom: 1px solid #141414;
	padding-bottom: 15px;
}



.search a{
  color:#53565A;
  font-size:16px;
  text-decoration: none;
	margin-right:8px;
}

.search a:hover {
	color: #141414;
	
 }

 .search a:active {
	color: #141414;
}

.menu{
	display:none;
}

#menuoverlay{
	position:absolute;
	top:0px;
	left:0;
	background-color: #ffffff;
	width:100%;
	height:150vh;
	text-align: center;
	display:none;

	
}

#close{
	position:absolute;
	top:10px;
	right:10px;
	font-size:60px;
}

.innermenu{
	margin-top:50px;
}


.innermenu div{
	padding-bottom:50px;
}

.menuitems{
	
}

.menuitems a{
  color:#53565A;
  font-size:14px;
  text-decoration: none;
}

.menuitems a:hover {
	color: #141414;
	border-bottom: 1px solid #141414;
	padding-bottom: 15px;
	
	
 }


.bibliography{
	padding: 50px 100px 0px 100px;
}



@media screen and (min-width: 768px){
	

	
	.herotile {
  		background-image: url("img/paula-scher-homepage.png");
		width:100%;
		

	}
	

}


.homepagemobile{
	display:none;
}


@media screen and (max-width:768px) {
    .homepagemobile {
        display: block;
    }

    .herotile {
        background-image: url("img/paula-scher-homepage-mobile.png");
        width: 100%;
        padding-top: 50px;
    }

    .parent-container {
        display: none;
    }
}















